:root {
 --bone: #ebf0d8;
 --skyblue: #8cc9f5;
 --darkblue: #021929;
--turqouise: #024d48;

}

body{
    display: block;
    background-color: var(--bone);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title{
background-color: var(--skyblue);
padding: .3rem;
width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    padding: 14px 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}


nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: underline;
    text-align: center;
  }

.link{
    display: flex;
    justify-content: right;

}

.pic {

}

.picholder {
    height: 400px;
    border: 5px solid rgb(255, 255, 255);
    padding: 9px;
    display: flex;
    justify-content: end;
    align-items: end;
background-image:url(avatar.png);
background-size: cover;
background-position: center;

}

.pictext {
    display: inline-block;
    padding: 10px;
    border: 3px solid powderblue;
}

.sidebar {
    position: relative;
}

.aboutme {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 12%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.asidetext {
    float: right;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.me {
    height: 200px;
border: 5px solid rgb(255, 255, 255);
padding: 9px;
background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
background-size: cover;
background-position: center;
overflow: hidden;
font-size: 13.5px;
}

.boxtext {
    font-family: sans-serif;
}

.core{
width: 85%;
float: right;
}

.boxone {
height: 400px;
border: 5px solid rgb(255, 255, 255);
padding: 9px;
background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
background-size: cover;
background-position: center;
filter: brightness(95%);
transition: filter 0.3s;
}

.boxone:hover {
    filter: none;
}

.boxone a {
    display: block;
    width: 100%;
    height: 100%;
}

.boxonetext {
float: inline-end;
border-style: solid;
padding: 20px;
border-color: teal;
}

.boxtwo {
    display: flex;
    flex-wrap: wrap;

}

.cardtext{
    padding: 20px;
    text-decoration: solid;
    float: inline-end;
    border-style: solid;
    border-color: teal;
    font-family: sans-serif;
    }

.cardone {
 flex-basis: 50%;
box-sizing: border-box;   
height: 200px;
border-style: solid;
border-color: white;
border-width: 5px;
background-image: url(https://images.pexels.com/photos/220072/pexels-photo-220072.jpeg?auto=compress&cs=tinysrgb&w=300&lazy=load);
background-size: cover;
background-position: center;
filter: brightness(85%);
transition: filter 0.3s;
}

.cardone:hover{
    filter: none;
}

.cardone a {
    display: block;
    width: 100%;
    height: 100%;
}

.cardtwo {
    flex-basis: 50%;
   box-sizing: border-box;   
   height: 200px;
   border-style: solid;
   border-color: white;
   border-width: 5px;
   filter: brightness(85%);
transition: filter 0.3s;
}

.cardtwo:hover {
    filter: none;
}
   
.cardtwo a {
    display: block;
    width: 100%;
    height: 100%;
}

.cardthree {
flex-basis: 50%;
box-sizing: border-box;   
height: 200px;
border-style: solid;
border-color: white;
border-width: 5px;
filter: brightness(85%);
transition: filter 0.3s;
}

.cardthree:hover {
    filter: none;
}
 
.cardthree a {
    display: block;
    width: 100%;
    height: 100%;
}

.cardfour {
   flex-basis: 50%;
box-sizing: border-box;    
height: 200px;
border-style: solid;
border-color: white;
border-width: 5px;
filter: brightness(85%);
transition: filter 0.3s;
}

.cardfour:hover {
    filter: none;
}

.cardfour a {
    display: block;
    width: 100%;
    height: 100%;
}

.myinfo {
    display: flex;
    justify-content: space-around;
    height: 180px;
    margin: 50px;
    font-size: x-large;
}

.contact {
    color: #333;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s;
    font-family: sans-serif;
}

.contact:hover {
    color: #007bff;
}

.phone {
padding: 50px;
margin-left: 16px;
}

.email {
padding: 50px
}

.social {
padding: 50px;
}