:root {
 --bone: #ebf0d8;
 --skyblue: #8cc9f5;
 --darkblue: #021929;
--turqouise: #024d48;

}

body{
    display: block;
    background-color: var(--bone);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title{
background-color: var(--skyblue);
padding: .3rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    padding: 14px 20px;
}


nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: underline;
    text-align: center;
  }

.link{
    display: flex;
    justify-content: right;

}

.sidebar {
    position: relative;
}

.about {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    background-color: var(--darkblue);
}

.aboutme {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 18.4%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-right: 5px solid var(--skyblue);
}


.asidetext {
    float: right;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.core{
width: 80%;
float: right;
}

.boxone {
height: 200px;
border: 5px solid rgb(255, 255, 255);
padding: 9px;
}

.boxtext {

}

.boxtwo {
    display: flex;
    flex-wrap: wrap;

}

.card {
 flex-basis: 50%;
box-sizing: border-box;   
}

.cardtext{
border: solid white;
padding: 20px;
}

.email {

}

.socials {

}

h3 {

}

footer p {
    
}